{% load static %}
<!DOCTYPE html>
<html>

<head>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" content="">

        <title class="">Our Airline</title>


        <!-- Styles -->
        <link href="{% static '/css/page.min.css' %}" rel="stylesheet">
        <link href="{% static '/css/style.css' %}" rel="stylesheet">



    </head>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark" data-navbar="fixed">
        <div class="container">

            <div class="navbar-left">
                <button class="navbar-toggler" type="button">&#9776;</button>
                <a class="navbar-brand" href="#">
                    <h1 style="color: lightslategray;">Our airline </h1>



                    <img class="logo-light" src="../assets/img/logo-light.png" alt="logo">
                </a>
            </div>

            <section class="navbar-mobile">
                <nav class="nav nav-navbar ml-auto">
                    <a class="nav-link" href="{% url 'about' %}">About us</a>
                    <a class="nav-link" href="{% url 'flights' %}">Flights</a>
                    <a class="nav-link" href="{% url 'addpassenger' %}">Book</a>
                    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                    <a class="nav-link" href="#">profile({{ user.username }})</a>
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </nav>
            </section>

        </div>
    </nav>


    <div style="margin-top: 200px;margin-left: 260px; margin-bottom: 300px;">
        <h2 style="text-align: inherit; margin-bottom: 50px; ">Register Flights</h2>


        <form action="" method="POST">
            {% csrf_token %} {{form}}


            <input type="submit" value="Book flight">

        </form>
    </div>


    <!-- Footer -->
    <footer class="footer text-white bg-img bg-fixed" style="background-image: url(../assets/img/vector/9.jpg)" data-overlay="8">
        <div class="container py-7">
            <div class="row gap-y">

                <div class="col-6 col-md-4 col-xl-2">
                    <h6 class="mb-4"><strong>Company</strong></h6>
                    <div class="nav flex-column">
                        <a class="nav-link" href="#">About us</a>
                        <a class="nav-link" href="#">Careers</a>
                        <a class="nav-link" href="#">Press</a>

                    </div>
                </div>

                <div class="col-6 col-md-4 col-xl-2">
                    <h6 class="mb-4"><strong>Product</strong></h6>
                    <div class="nav flex-column">

                        <a class="nav-link" href="#">Success Stories</a>
                        <a class="nav-link" href="#">Pricing</a>
                        <a class="nav-link" href="#">Security</a>
                    </div>
                </div>

                <div class="col-6 col-md-4 col-xl-2">
                    <h6 class="mb-4"><strong>Resources</strong></h6>
                    <div class="nav flex-column">
                        <a class="nav-link" href="#">Freebies</a>
                        <a class="nav-link" href="#">Partners</a>
                        <a class="nav-link" href="#">Events</a>
                        <a class="nav-link" href="#">Assets</a>
                    </div>
                </div>

                <div class="col-6 col-md-4 col-xl-2">
                    <h6 class="mb-4"><strong>Community</strong></h6>
                    <div class="nav flex-column">
                        <a class="nav-link" href="#">Blog</a>
                        <a class="nav-link" href="#">Forums</a>
                        <a class="nav-link" href="#">Meetups</a>
                        <a class="nav-link" href="#">For Investors</a>
                    </div>
                </div>

                <div class="col-6 col-md-4 col-xl-2">
                    <h6 class="mb-4"><strong>Support</strong></h6>
                    <div class="nav flex-column">
                        <a class="nav-link" href="#">Help Center</a>
                        <a class="nav-link" href="#">Guides</a>
                        <a class="nav-link" href="#">API</a>
                        <a class="nav-link" href="#">FAQ</a>
                    </div>
                </div>

                <div class="col-6 col-md-4 col-xl-2">
                    <h6 class="mb-4"><strong>Extras</strong></h6>
                    <div class="nav flex-column">
                        <a class="nav-link" href="#">Podcast</a>

                        <a class="nav-link" href="#">Licenses</a>
                        <a class="nav-link" href="#">Become Affiliate</a>
                    </div>
                </div>

            </div>
        </div>

        <hr>

        <div class="container">
            <div class="row gap-y">

                <div class="col-md-6 text-center text-md-left">
                    <small class="opacity-70">© 2020 our airlines. All rights reserved.</small>
                </div>

                <div class="col-md-6 text-center text-md-right">
                    <div class="social">
                        <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
                        <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
                        <a class="social-youtube" href="#"><i class="fa fa-youtube"></i></a>
                        <a class="social-instagram" href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- /.footer -->


    <!-- Scripts -->
    <script src="{% static '/js/page.min.js' %}"></script>
    <script src="{% static '/js/script.js' %}"></script>

</body>

</html>



</body>

</html>